# Lego Database

## Step 1: Explore the dataset

In [4]:
import pandas as pd

In [5]:
import os
cwd = os.getcwd()

In [15]:
from os import walk
file = []
for (dirpath, dirnames, filenames) in walk(cwd):
    file.extend(filenames)
    break

In [16]:
file

['colors.csv',
 'downloads_schema.png',
 'inventories.csv',
 'inventory_parts.csv',
 'inventory_sets.csv',
 'Lego_Database.ipynb',
 'parts.csv',
 'part_categories.csv',
 'sets.csv',
 'themes.csv']

### colors.csv

In [21]:
colors_df = pd.read_csv('colors.csv')
colors_df.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [25]:
colors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 4 columns):
id          135 non-null int64
name        135 non-null object
rgb         135 non-null object
is_trans    135 non-null object
dtypes: int64(1), object(3)
memory usage: 4.3+ KB

In [37]:
colors_df.name.unique()

array(['Unknown', 'Black', 'Blue', 'Green', 'Dark Turquoise', 'Red',
       'Dark Pink', 'Brown', 'Light Gray', 'Dark Gray', 'Light Blue',
       'Bright Green', 'Light Turquoise', 'Salmon', 'Pink', 'Yellow',
       'White', 'Light Green', 'Light Yellow', 'Tan', 'Light Violet',
       'Glow In Dark Opaque', 'Purple', 'Dark Blue-Violet', 'Orange',
       'Magenta', 'Lime', 'Dark Tan', 'Bright Pink', 'Medium Lavender',
       'Lavender', 'Trans-Black IR Lens', 'Trans-Dark Blue',
       'Trans-Green', 'Trans-Bright Green', 'Trans-Red', 'Trans-Black',
       'Trans-Light Blue', 'Trans-Neon Green', 'Trans-Very Lt Blue',
       'Trans-Dark Pink', 'Trans-Yellow', 'Trans-Clear', 'Trans-Purple',
       'Trans-Neon Yellow', 'Trans-Neon Orange', 'Chrome Antique Brass',
       'Chrome Blue', 'Chrome Green', 'Chrome Pink', 'Chrome Black',
       'Very Light Orange', 'Light Purple', 'Reddish Brown',
       'Light Bluish Gray', 'Dark Bluish Gray', 'Medium Blue',
       'Medium Green', 'Speckle Black-Copper', 'Speckle DBGray-Silver',
       'Light Pink', 'Light Flesh', 'Milky White', 'Metallic Silver',
       'Metallic Green', 'Metallic Gold', 'Medium Dark Flesh',
       'Dark Purple', 'Dark Flesh', 'Royal Blue', 'Flesh', 'Light Salmon',
       'Violet', 'Blue-Violet', 'Glitter Trans-Dark Pink', 'Medium Lime',
       'Glitter Trans-Clear', 'Aqua', 'Light Lime', 'Light Orange',
       'Glitter Trans-Purple', 'Speckle Black-Silver',
       'Speckle Black-Gold', 'Copper', 'Pearl Light Gray', 'Metal Blue',
       'Pearl Light Gold', 'Trans-Medium Blue', 'Pearl Dark Gray',
       'Pearl Very Light Gray', 'Very Light Bluish Gray',
       'Yellowish Green', 'Flat Dark Gold', 'Flat Silver', 'Trans-Orange',
       'Pearl White', 'Bright Light Orange', 'Bright Light Blue', 'Rust',
       'Bright Light Yellow', 'Trans-Pink', 'Sky Blue',
       'Trans-Light Purple', 'Dark Blue', 'Dark Green',
       'Glow In Dark Trans', 'Pearl Gold', 'Dark Brown', 'Maersk Blue',
       'Dark Red', 'Dark Azure', 'Medium Azure', 'Light Aqua',
       'Olive Green', 'Chrome Gold', 'Sand Red', 'Medium Dark Pink',
       'Earth Orange', 'Sand Purple', 'Sand Green', 'Sand Blue',
       'Chrome Silver', 'Fabuland Brown', 'Medium Orange', 'Dark Orange',
       'Very Light Gray', 'Glow in Dark White', 'Medium Violet',
       'Glitter Trans-Neon Green', 'Glitter Trans-Light Blue',
       'Trans Flame Yellowish Orange', 'Trans Fire Yellow',
       'Trans Light Royal Blue', 'Reddish Lilac', '[No Color]'],
      dtype=object)

In [40]:
colors_df.name.nunique()

135

### inventories.csv

In [43]:
inventories_df = pd.read_csv('inventories.csv')
inventories_df.head()

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1

In [47]:
inventories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11681 entries, 0 to 11680
Data columns (total 3 columns):
id         11681 non-null int64
version    11681 non-null int64
set_num    11681 non-null object
dtypes: int64(2), object(1)
memory usage: 273.9+ KB

### inventory_parts.csv

In [51]:
inventory_parts_df = pd.read_csv('inventory_parts.csv')
inventory_parts_df.head()

   inventory_id     part_num  color_id  quantity is_spare
0             1     48379c01        72         1        f
1             1        48395         7         1        f
2             1     mcsport6        25         1        f
3             1       paddle         0         1        f
4             3  11816pr0005        78         1        f

In [54]:
inventory_parts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580251 entries, 0 to 580250
Data columns (total 5 columns):
inventory_id    580251 non-null int64
part_num        580251 non-null object
color_id        580251 non-null int64
quantity        580251 non-null int64
is_spare        580251 non-null object
dtypes: int64(3), object(2)
memory usage: 22.1+ MB